/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
/* Estilos generales */
body {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
@font-face {
  font-family: 'nusar';
  src: url('./assets/fonts/NUSAR.otf') format('opentype'),
       url('./assets/fonts/NUSAR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* navbar */
.navbar {
  font-family: 'nusar', sans-serif;
  font-weight: 500;
}
@media (max-width: 445px) {
  .custom-logo{
    width: 190px;
  }  
}
@media (max-width: 1060px) {
  .custom-logo{
    width: 250px;
  }  
}


.my-nav-link.active {
  border-bottom: 2px solid #ffb400;
  color: white;
}
/* lineas debajo de navbar */
.line-custom{
  font-family: 'nusar', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #ffb400;
}
.line-custom2{
  font-family: 'nusar', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #151620;
  background-color: #ffb400;
}
.line-custom3{
  font-family: 'nusar', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffb400;
}
@media (max-width: 576px) {
  .line-custom {
      font-size: 0.8em;
  }
  .line-custom2 {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .line-custom {
      font-size: 0.9em;
  }
  .line-custom2 {
    font-size: 0.7em;
  }
}

@media (min-width: 769px) {
  .line-custom {
      font-size: 1.5em;
  }
}
/* Home seccion */
/* Por defecto, para dispositivos muy pequeños */
.img-full-height {
  width: 610px;
  object-fit: cover;
}

/* Para dispositivos pequeños */
@media (min-width: 576px) {
  .img-full-height {
      width: 300px;
  }
}

/* Para dispositivos medianos */
@media (min-width: 768px) {
  .img-full-height {
      width: 400px;
  }
}

/* Para dispositivos grandes */
@media (min-width: 992px) {
  .img-full-height {
      width: 600px;
  }
}

/* Para dispositivos extra grandes */
@media (min-width: 1200px) {
  .img-full-height {
      width: 100%;  /* Aquí supongo que quieres que la imagen sea de altura completa en pantallas muy grandes */
  }
}

.home-section {
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
.hashtag{
  font-family: 'nusar', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.criptopurrs{
  height: 700px;
}
.bitacora-custom{
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'nusar', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.button-custom-marte{
  font-family: 'nusar', sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}
@media (max-width: 769px) {
  .button-custom-marte{
    font-size: 1.7em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}
.btn-custom {
  /* background-color: rgba(97, 0, 81, 0.51); Color de fondo de tu elección */
  border-color: rgba(97, 0, 81, 1); /* Color del borde que coincide con el fondo para mantener el diseño del botón 'outline' */
  color: rgba(97, 0, 81, 1); /* Color del texto */
}

.btn-custom:hover {
  background-color: rgba(97, 0, 81, 0.8); /* Un tono más oscuro para el hover */
  border-color: rgba(97, 0, 81, 0.8);
  color: #FFFFFF;
}

.btn-custom:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 87, 51, 0.5); /* Ajusta el color aquí también */
}
.img-button {
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: transform 0.2s; /* Agrega una transición suave */
}

.img-button:hover {
  transform: scale(1.1); /* Escala la imagen al pasar el cursor para dar un efecto de botón */
}
.custom-third-container {
  height: 600px;
  background-color: red;
}
/* Product seccion */
.font-class{
  font-family: 'nusar', sans-serif;
}
.product-section {
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-position: center center;
  height: 100vh;
}
/* Team seccion */
.title-font{
  font-size: 17px;
  color: #FC0;
  font-weight: 400;
  font-family: 'nusar', sans-serif;
}
.text-font{
  font-size: 13px;
  color: #FFF;
  font-weight: 400;
  font-family: 'nusar', sans-serif;
}
.card-background {
  background-color: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card-background img {
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
}
/* Comprar section */
.textfield-form{
  border-color:#ffb400 ;
  background-color: transparent;
  color: white;
}
option{
  color: black;
}
/* Roadmap seccion */
.space{
  margin-bottom: 30%;
}
@media (max-width: 769px) {
  .font-sizesm{
    font-size: 0.625rem;
  }
}
/* Mintear seccion */
.custom-responsive-video {
  width: 100%;
  height: 500px;
}


@media (max-width: 768px) {
  .custom-responsive-video {
    height: 600px;
  }
}

.under-construction-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}